doctype html
html(lang="en")
  head
    title="Departure Times"
  body
    h1 Departure time
    my-app

    script(type="text/javascript", src="/js/app/app.js")
    script(type="text/javascript").
      start();
